.ScoreBoard__ {
  margin: auto;

  .ScoreBoard__group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 20rem;
    background: white;
    border-radius: 0.5rem !important;
    box-shadow: 0 0 8px #888;
    margin-block: 3rem !important;
    margin-inline: auto !important;

    .inactive {
      border-bottom: 5px solid transparent !important;
    }

    .score {
      width: 100%;
      text-align: center;
      padding: 1rem 0;

      &-x {
        color: rgb(255 70 37);
        border: none;
        border-bottom: 5px solid rgb(255 70 37);
        border-radius: 0.5rem 0 0 0.5rem;
      }

      &-o {
        color: rgb(44 135 255);
        border: none;
        border-bottom: 5px solid rgb(44 135 255);
        border-radius: 0 0.5rem 0.5rem 0;
      }

      &-x,
      &-o {
        font-size: 1rem !important;
        font-weight: bold !important;
        font-family: "Poppins", sans-serif;
        cursor: pointer;

        &:hover {
          background: #efefef;
        }
      }
    }
  }
}
