@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
  margin: 0;
}

// * background classes

body.bg-light {
  background: #efefef;
}

body.bg-dark {
  background: #111;
}

// * button classes

.light {
  background: #fff !important;
}

.dark {
  background: #444 !important;
}

.no-shadow {
  box-shadow: 0 0 0 transparent !important;
  background: #444 !important;
}

.shadow {
  box-shadow: 0 0 8px #888 !important;
  background: white !important;
}

// * modal classes

.modal-light {
  background: white;
  color: black;
}

.modal-dark {
  background: #444;
  color: white;
}